<!DOCTYPE html>
<html lang="en">
<head>
    <title>home</title>
    <style>
        body{
          background-image: url('https://t3.ftcdn.net/jpg/05/48/56/38/360_F_548563894_s5tGFJjPhc7lp5uG4iJkR77QbgvrKr9e.jpg');

        }

        h1{
            color: chartreuse;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 490%;
        }
        marquee{
            font-style: italic;
            font-size: 500%;
            color: rgb(226, 131, 43);
             
        }
    </style>
</head>
<body>
    <center>
        <h1>Vijay was bad boy </h1>
        <marquee>Vijay bestfriend Soundarya</marquee>
    </center>
</body>
</html>