<!DOCTYPE html>
<html lang="en">
<head>
    <title>home1</title>
</head>
<body>
    <center>
        <h1> vijay</h1>
        
        <img src="https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=" alt="notfound">
        <h2>The three main causes of natural disasters include movement of the Earth, the weather and extreme conditions. When the Earth moves, it can cause earthquakes, volcanic eruptions and tsunamis.

            Predicting these natural disasters is often difficult for scientists and they can occur suddenly. Extreme weather conditions can cause natural disasters such as tornadoes and hurricanes. These natural disasters are sometimes easier to predict, but they too can come on suddenly.
            
            Floods, mudslides and famines are often caused by extreme weather conditions or movement of the Earth. Many scientists see these types of events as secondary natural disasters and the causes vary greatly.</h2>
    </center>
</body>
</html